@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    ;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
        #FEFBF6;
}

.calculator {
    border: 1px solid #393E46;
    padding: 12px;
    border-radius: 5px;
    background-color: #000000;
    box-shadow: 0 0 10px rgba(4, 3, 3, 0.5);
}

input {
    width: 350px;
    border: none;
    background: transparent;
    padding: 25px;
    margin: 10px;
    /* box-shadow: 0 0 10px rgba(14, 6, 13, 0.7) ; */
    text-align: right;
    font-size: 40px;
    cursor: pointer;
    color: white;
}
input::placeholder{
    color: white;
}

button {
    width: 70px;
    height: 75px;
    margin: 10px;
    align-items: center;
    background: transparent;
    color: white;
    border-radius: 50%;
    border: 1px solid #393E46;
    font-size: 20px;
    cursor: pointer;
    /* box-shadow: -5px -3px 12px rgba(245, 245, 247, 0.4); */
}
button:hover{
    cursor: pointer;
      /* box-shadow: 3px 4px 8px rgba(246, 233, 233,0.5); */
      box-shadow: 1px 2px 15px rgba(242, 238, 238, 0.943);
      transform: scale(1.1);
      border: 1px solid white;
}
.rightbtn{
    background-color: orange;
    color: #000000;
}
.topBtn{
    background-color: #6f7580;
    color: black;
}